*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Home */

/*h1*/

.tituloHome {

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 200px;
    color: black ;
    text-align: left;
    font-size: 50px;

    
}
.interiorDesign{

    
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bairesDiv{
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 3%;

    
    
}
/*listado del menú

ul li{
   
    padding-left: 30px;
   display: inline;
  

    }

ul li:hover{

 border-radius: 5px;
 opacity: 0.7;
}

li{
    margin: 5%;
    padding-right:  5%;
}
*/

   
    /*body*/
.bodyHome {
    
    background-image:url(../Img\ dw/bairesfondodepantalla.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    }
    /*logo*/

.logo{
   

    margin: 0;
    border: 0;
    width: 60px;
    height: 60px;
    float: left;
    padding: 8px;
    
    

    
    
   /* Menu con Logo */ 
}
.headerr{
  
    width: 100%;
    
    /*position: absolute;
    top: 0%;
   
    background-color: lavender;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;*/
    background-color: lavender;
    
    
}
.nav justify-content-end{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav justify-content-end:hover{
    background-color: white;
    opacity: 0.7;

   
}
.h1 .h2{
    font-size: 40%;
}




 
   /*footer*/



.imagenFooter{

    height: 50px;
    width: 50px;
    margin: 0%;

}
.footer{
   
    display: flex;
    justify-content: space-between;
    

}



/* Servicios */

/*Body*/
.bodyServicios{
background-image: linear-gradient(to right, gainsboro,white);

}
/*Estructura de las imágenes*/

.imagenesTodas{

    display: flex;
    justify-content: space-evenly; 
 
    
}
/*Titulo*/

 .tituloServicios{
   
    position: center;
    text-align: center;
    font-size: 400%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    


}
/*Imagenes*/

.imagenServicios{

    height: 250px;
    width: 250px;
}
.imagenServicios:hover{
    transform: scale(1.2);
}
/*Tablas*/

.imprescindible, .avanzado, .premiun, .parrafoUno{
    border: solid 2px black;
   
}
.contenedorTabla{
    
    width: 100%;
    margin-bottom: 10%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;
    grid-template-columns: 250px 200px 200px;
    grid-template-rows: 20px 300px;
    gap: 5px;
}



/* Proceso*/

.bodyProceso{

    background-image: url(../Img\ dw/bairesProceso.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloProceso{
    
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 60px;

    
    
}
.relevamientoTitulo{

    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.relevamiento{

   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    


    
}
.relevamientoParrafo{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-left: 10%;
    padding-right: 5%;
    
    



}
 /* Reformas */

 .bodyReformas{

    background-color: beige;
 }

 .antesDespues{

    display: inline;

 }
 .imagenRefo{

    height: 600px;
    width: 600px;
    margin-right: 40px;
 }
 .imagenRefodos{

    height: 600px;
    width: 600px;
    margin-right: 40px;


 }
 .imagenRefotres{
    
    height: 600px;
    width: 600px;
    margin-right: 40px;
    

 }
 .parrafoReformas{


    margin-bottom: 5%;
    margin-top: 8%;
    font-size: 40px;
    padding-right: 20%;
    padding-left: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    white-space: normal;
    
    
 }
  /* Contactos */

  .bodyContacto{

    background-color: beige;
  }

  .formulario{

    margin-top: 10%;
    font-size: 30px;
    margin-bottom: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* Media Query 320px, 768px, 1200px */


   @media screen and (max-width: 320px) {
    /* Home*/
     
    /* Menú Hamburguesa */

    .headerr{

        display: flex;
        flex-direction: column;
    }

    .bodyHome{
        background-repeat: no-repeat;
        background-size: cover;
    }
    .tituloHome{
        font-size: 30px;
    }
    .interiorDesign{
        font-size: 20px;
    }
    .bairesDiv{
        margin-bottom: 50%;
    }
    .imagenFooter{
      width: 20px;
      height: 20px;
    }
    .contactanos {
        font-size: 10px;
    }
    .seguinos{

        font-size: 10px;
    }
    .footerBaires{
        font-size: 5px;
    }
    /* Servicios */

    .tituloServicios{
        font-size: 50px;
        margin-top: 25%;
    }
    .imagenesTodas{
        display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-columns: (1,1fr);
    }
    /* Tablas */

    .imprescindible, .avanzado, .premiun, .parrafoUno{

        font-size: 15px;
    }
    .contenedorTabla{
     padding: 0;
   }

   }
    
   @media screen and (max-width:768px) {

    /* El Home se adapta perfectamente*/
     
    /*Servicios*/

    .tituloServicios{ 
        margin-top: 15%;
    }

    .imagenesTodas{

        display: grid;
        grid-template-columns: (1,1fr);
    }
    /* Media Query 1200px se adapta completamente*/
   }